//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p치giana actual
-var meta_titlePage ="ISSDOnline 游볞 - Grupos de ISSD";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "郊율SSDOline grupos de whatsapp y facebook de ISSD";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M치s informaci칩n

//variables para canales de ISSD
-var nombre_grupo = ["Copa ISSD Pro", "Torneo Para Todos ISSD", "ISSSD Online Tournament", "Liga Equilibrium", "Copa ISSDeluxe", "ISSD Reanimation", "Copa ISSnestalgia Deluxe"];
-var autor_grupo = ["M치gico", "Luchoag", "Martins", "Wagner", "Pilo", "NASK", "Viny"];
-var formato_grupo = ["Torneo","Liga Larga","Torneos","Torneos","Varios","Torneos y Liga","Torneo"];
-var desc_grupo = ["El torneo que re칰ne siempre el mayor nivel en cuanto a jugadores de ISSD. Comienza con un repechaje, fase de frupos y fase final.","Una liga que va en crecimiento, con ya 3 ediciones, en la que tendr치s la oportunidad de jugar contra m치s de 20 jugadores incluyendo los 3 mejores del ISSD.", "Un grupo de whatsapp en la cu치l tendr치s la oportunidad de competir en los distintos torneos que se realizan.", "Cuenta con grupo de whatsapp y p치gina de facebook, tendr치s la oportunidad de competir en los distintos torneos que se realizan.", "Ua comunidad que ofrece torneos de diferentes formatos", "Una comunidad que presenta competencias en formato de liga y torneos.", "De los grupos m치s nuevos pero con torneos de gran competitividad"];
-var url_1_grupo = ["https://www.facebook.com/groups/456905675232194","https://www.webcup.com.br/campeonato/torneio-para-todos-3-1708989216","https://chat.whatsapp.com/FSvIjHsr3sG8Wc0H1uDimv","https://www.facebook.com/liga.equilibriumissd","https://www.facebook.com/groups/CopaISSDeluxe/","http://facebook.com/groups/issd.reanimation",""];
-var img_grupo = [];

mixin liga(nombre_grupo, autor_grupo, formato_grupo, desc_grupo, url_1_grupo)
    li
        h3=nombre_grupo
        h4=autor_grupo
        h4=formato_grupo
        p=desc_grupo
        a(href=url_1_grupo title=nombre_grupo) #{ nombre_grupo }


<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug    
    body(class="")
        #container(class="min-h-screen")
            include inc/header.pug
            main
                h1(class="font-bold 2xl") Grupos de ISSD
                section.main__section
                    article.main__section__article
                        ul.listado_ligas
                            -for (var i=0; i<6; i++)
                                +liga(nombre_grupo[i], autor_grupo[i], formato_grupo[i], desc_grupo[i], url_1_grupo[ni])

                            
        include inc/footer.pug