meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="Description", content=meta_descPage)
meta(name="Keywords", content=meta_keyWordsPage)
//- meta(property="fb:admins", content="")
//- meta(property="fb:app_id", content="")
meta(property="og:url", content= meta_canonica)
meta(property="og:type", content="website") 
meta(property="og:title", content=meta_titlePage)
meta(property="og:description", content=meta_descPage)
meta(property="og:image", content=meta_ogImage)
//- link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
link(rel="stylesheet" href=base_style)
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js")
script(src="https://kit.fontawesome.com/bd29bbd3bd.js" crossorigin="anonymous")

title #{meta_titlePage}
include links_firebase.pug